@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: #000;
  color: #fff;
}

a, a:hover, a:visited{
  color: unset; /* cores padrão */
  text-decoration: none;
}
/*     ----------------------------------------------------------     */
header{
  padding: 120px 0;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsmeta-logo-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.dsmeta-logo-container img {
  width: 100%;
  max-width: 400px;
}

.dsmeta-logo-container h1{
  font-size: 26px;
  font-weight: bold;
  margin-top: 15px;
}

.dsmeta-logo-container ṕ{
  font-size: 14px;
  font-weight: 300;
}

/* dsmeta-card */
#dsmeta-sales{
  padding: 40px 10px;
}

.dsmeta-container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

}

.dsmeta-card{
  background: #283142;
  border-radius: 10px;
  padding: 20px 10px;
}

.dsmeta-sales-title{
  color: #676FFF;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Inputs */
.dsmeta-form-control-container{
  max-width: 300px;
  margin: 16px 0;
}

.dsmeta-form-control{
  height: 46px;
  width: 100%;
  padding: 12px 21px;

  font-size: 18px;
  color: #9aaabe;
  background-color: #1b2531;
  border: 1px solid #384459;
  border-radius: 5px;

}

.dsmeta-sales-table{
  width: 100%;
  border-spacing: 0; /* Espaço entre as tabelas*/
  border-collapse: collapse;
}

.dsmeta-sales-table thead{
  height: 55px;
  font-size: 16px;
  color: #e9e9e9;
  font-weight: 700;
}

.dsmeta-sales-table tbody{
  font-size: 14px;
  font-weight: 400;
  color: #cfcfcf;
  text-align: center;
}

.dsmeta-sales-table tbody tr {
  height: 74px;
  border-top: 1px solid #5f6e82;
}

.dsmeta-sales-table tbody tr:hover{
  background-color: #384459;
}

 /*Pegar Linha Impar*/
.dsmeta-sales-table tbody tr:nth-child(odd){
  background-color: #242c3b;
}

.dsmeta-red-btn-container{
  display: flex;
  justify-content: center;
}

.dsmeta-red-btn{
  height: 45px;
  width: 45px;
  background: rgba(255, 107, 114, 0.1);
  border: 1px solid #FF6B72;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.show576 {
  display: none;
}

.show992 {
  display: none;
}

@media(min-width: 576px){

  .show576 {
    display: table-cell; /*display normal da tabela */
  }
  .dsmeta-card{
    padding: 35px;
  }
  .dsmeta-sales-table tbody{
    font-size: 18px;
  }
  .dsmeta-sales-table tbody tr{
    height: 50px;

  }
}

@media(min-width: 992px){
  .show992 {
    display: table-cell;
  }
}
