@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;700&family=Poppins:wght@100;300;400;500&display=swap');

header{
  width: 100%;
  height: 8.8rem;
  background: var(--gray-colors-800);
  display: flex;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}

header .menu-mobile{
  display: none;
}

header nav ul{
  display: flex;
  margin-right: 3.2rem;
}

header nav ul li{
  margin-right: 3.2rem;
}

header nav ul li:last-child{
  margin-right: 0;
}


header nav .btn-primary{
  padding: 0.9rem 3.4rem;
}
/*8zCWhGL5Qhp9z5n*/
